.whitelist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding:30px 60px;
}

.whitelist__left h2{
    padding-bottom: 20px;
}

.whitelist__left p{
    width: 80%;
}

.whitelist__right__img{
    width: 1000px;
    height: 500px;
}