.navbar {
    height: 7.5vh;
    background-color: #a8b0d8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;

}

.navbar__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.navbar__left a {
    font-size: 20px;
    color: white;
    text-decoration: none;

}
.navbar__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar__right p {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navbar__left a:hover {
    cursor: pointer;
}

.navbar__right {
    flex: 2;
}

.navbar__left__drawer__icon{
    display: none;
}

.navbar__left__drawer__icon:hover{
    cursor: pointer;
}

.connect__button{
    color: #fff!important;
    z-index: 99;
}

.connect__button:hover{
    cursor: pointer!important;
}

@media only screen and (max-width:1500px) {
    .navbar__left a, .navbar__right p{
        font-size: 14px;
    }
}

@media only screen and (max-width:1100px) {
    .navbar__left{
        display: none;
    }
    .navbar__left__drawer__icon{
        display: block;
    }
}