.dashboard{
    padding:30px 60px;
    width: 100%;
}

.dashboard__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.dashboard__info__inner{
    flex:1;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}

.tokens__left{
    font-size: 24px;
    color:gray;
}

.img__token{
    margin-left: 30px;
    width: 50px;
    height: 50px;
}


@media only screen and (max-width:900px) {
    
.dashboard__container{
    flex-direction: column;
    margin-bottom: 0px;
    }

    .dashboard__info__inner{
    margin-bottom: 40px;
    }
}